node_modules/
/dist/
/.angular/

/www/
/platforms/
/plugins/
/screenshots/
/.sourcemaps/
/data/

ios/App/build/
ios/App/Pods/
android/build/
android/.gradle/
android/app/build/
android/captures/

src/environments/environment.prod.ts
.env
.env.local

.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*