.image-grid {
  padding-left: 50px;
  padding-right: 50px;
}

.image-container {
  height: 150px;
  overflow: hidden;
  border-radius: 10px;

  @media (min-width: 768px) {
    .image-container {
      height: 100px;
      overflow: hidden;
      border-radius: 10px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
