<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Photo Search Gallery </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8" size-md="6" size-lg="4">
        <ion-item lines="outline" class="custom-input">
          <ion-input
            placeholder="What photos would you like?"
            [formControl]="searchControl"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="auto">
        <ion-button class="search-button" (click)="onSearch()"
          >Search</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="image-grid">
    <ion-row>
      @for (photo of photos(); track photo.id) {
      <ion-col size="4" size-md="4" size-lg="2" size-sm="4">
        <div class="image-container">
          <!-- Note: chose to omit alt tag as Pixabay doesn't return this in their search api -->
          <img [src]="photo.webformatURL" />
        </div>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
